/*****************************
GENERAL
*****************************/

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/*****************************
HEADING
*****************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
	float: left;
	text-align: center;
	margin: 0 30px 0 0;
}

h1 {
  font-family: 'Mountains of Christmas', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

/*****************************
NAVIGATION
*****************************/

/*****************************
FOOTER
*****************************/

/*****************************
PAGE: INDEX
*****************************/

/*****************************
COLORS
*****************************/

/* beige header */
header {
  background: #fff7dd;
  border-color: #599a68;
  color: #6ab47b;
}